* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    background-color: aquamarine;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
}

form, header {
    margin-left: 7%;
}

h1 {
    margin-bottom: 50px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }