@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 80px;
  color: #001f3f;
}

h3 {
  font-size: 30px;
  color: #ffffff;
}

a {
  color: #ffffff;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

/* Home */
.home-content1{
  background-image: url('./../Images/background3\ copy.jpg');
  height: 500px;
}

#hm-cont1-main {
  margin: 8%;
  padding-left: 15%;
}

#search-input {
  padding-left: 16%;
}


/* Footer */
.bg-footer {
  background-color: #007CC7;
  padding-top: 20px;
}

.footer-top {
  margin-bottom: 25px;
  border-bottom: 1px solid #363636;
}

.footer-list ul li {
  list-style: none;
  color: #cec9c9;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-list ul li a:hover {
  color: #f95d9b;
}

.social li {
  display: inline-block;
  margin: 0 5px 10px 0;
}